.info-card {
    display: flex;
    align-items: center;
    background-color: #d8b800;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.info-card img {
    width: 3.125rem;
    height: 3.125rem;
    margin-right: 1rem;
}

.info-card h3 {
    color: #000;
    margin-bottom: 0.5rem;
}

.info-card p {
    color: #666;
    font-size: 0.9rem;
}